.float{
    float:left;
}
.floatRight{
    float: right;
}
.clearLeft{
    clear: left;
}
.clearRight{
    clear: right;
}
.bottomReferrer{
    list-style-type: none;
    position: fixed;
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: auto;
}
.block{
    display: block;
    color: white;
    text-align: center;
    padding: 2rem;
}
.center{
    text-align: center;
}
.padding{
    float:left;
    padding: 0rem 0.75rem;
}