.float{
    float:left;
    padding-right: 1rem;
}
.floatRight{
    float: right;
    padding-left: 1rem;
    padding-right: 1rem;
}
.clearLeft{
    clear: left;
}
.clearRight{
    clear: right;
}
.bottomReferrer{
    list-style-type: none;
    position: fixed;
    width: 10%;
    height: 95%;
    margin: 0;
    padding: 0;
    background-color: #F4976C;
    overflow: auto;
}
.block{
    display: block;
    color: #D2FDFF;
    text-align: center;
    padding: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
}
li a:hover{
    background-color: #FBE8A6;
}
p{
    background-color: #B4DFE5;
    padding: 1.1rem;
    padding-left: 2rem;
    width: 90%;
    margin-left: 1rem;
}
h1, h2, h3{
    background-color: #303C6C;
    color:#B4DFE5;
    padding: 1.1rem;
    padding-left: 2rem;
    width: 95%;
}
img, video{
    padding-bottom: 1rem;
    outline: none;
}
a:hover{
    background-color:  #D2FDFF;
}
.activeBlock{
    background-color:  #FBE8A6;
    display: block;
    color: #D2FDFF;
    text-align: center;
    padding: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
}
.center{
    text-align: center;
}
/*For resizing images/videos based on size of the viewport*/
@media screen and (max-width: 750px) {
    img, video{
        max-width: 100%;
        height: auto;
    }
  }
/*For resizing navigation bar based on size of the viewport*/
@media screen and (max-width: 950px) {
    .block, .activeBlock{
        font-size: .75rem;
        padding-top: 1rem;
        padding-right: 0;
        padding-left: 0;
    }
}
/*CSS for unity videogame*/
.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}