h1 {
    color: black;
    background-color: rgb(250, 27, 27);
    font-family: "Times New Roman";
    font-weight: bold;
}
.float{
    float:left;
}
.floatRight{
    float: right;
}
.bottomReferrer{
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}
.block{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}