.float{
    float:left;
    padding-right: 1rem;
}
.floatRight{
    float: right;
    padding-left: 1rem;
}
.clearLeft{
    clear: left;
}
.clearRight{
    clear: right;
}
.bottomReferrer{
    list-style-type: none;
    position: fixed;
    width: 10%;
    height: 95%;
    margin: 0;
    padding: 0;
    background-color: #F4976C;
    overflow: auto;
}
.block{
    display: block;
    color: #D2FDFF;
    text-align: center;
    padding: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
}
li a:hover{
    background-color: #FBE8A6;
}
p{
    background-color: #B4DFE5;
    padding: 1.1rem;
    padding-left: 2rem;
    width: 75rem;
    margin-left: 1rem;
}
h1{
    background-color: #303C6C;
    color:#B4DFE5;
    padding: 1.1rem;
    padding-left: 2rem;
}
h2{
    background-color: #303C6C;
    color:#B4DFE5;
    padding: 1.1rem;
    padding-left: 2rem;
}
h3{
    background-color: #303C6C;
    color:#B4DFE5;
    padding: 0.75rem;
    padding-left: 2rem;
}
a:hover{
    background-color:  #D2FDFF;

}
.center{
    text-align: center;
}